<h1>Edit your email address</h1>

<%= form_for @user do |f| %>
  <div class="form-group">
  <label>Email address</label>
  <%= f.text_field :email, class: 'form-control'%>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Update your Email address</button>
  </div>
<% end %>
<br>

<%= form_for @user do |f| %>
  <div class="form-group">
  <label>Password</label>
  <div class="form-floating">
    <%= f.text_field :password, class: 'form-control', type: 'password'%>
    <label for="floatingPassword">New password</label>
  </div>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Update your password</button>
  </div>
<% end %>