<head>
  <meta http-equiv = "refresh" content = "5; url = https://chatonshop-prod.herokuapp.com/" />
</head>
<body>
  <h1>Votre paiement est confirmé.</h1><h2>Merci pour votre achat de <strong><%= @amount %> €</strong> !</h2>
  <p>Un email vous a été envoyé avec le récapitulatif de votre commande.</p>
  <p>Vous allez être redirigé dans 5 secondes ! </p>
</body>
