<head>
  <meta http-equiv = "refresh" content = "5; url = http://localhost:3000/" />
</head>
<body>
  <h1>Votre paiement est confirmé.</h1><h2>Merci pour votre achat de <strong><%= @amount %> €</strong> !</h2>
  <p>Un email vous a été envoyé à <%= @user.email %> avec le récapitulatif de votre commande.</p>
  <p>Vous allez etre rediriger dans 5 secondes ! 
</body>
