<h1>Welcome to your profile page</h1>

<div class="card">
  <div class="card-body">
    <h5>Your current Email adresse is : <%=@user_email%> </h5>
    <a href="<%= edit_user_path %>" class="btn btn-success">Change your information</a>

  </div>
</div>


