// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
    font-size: 3rem;
}

.description {
    font-size: 2rem;
    font-style: bold;
}

.price:hover {
    color: rgb(51, 145, 42);
    font-size: 2rem;
    font-weight: bold;
}
