<div class="row">
  <div class="col-lg-12">
    <ul class="list-unstyled d-flex justify-content-between col-6">
      <li><a href="#">Blog</a></li>
      <li><a href="#">RSS</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="https://github.com/thomaspark/bootswatch">GitHub</a></li>
      <li><a href="#">API</a></li>
      <li><a href="#">Donate</a></li>
    </ul>
    <a class="float-end" href="#top">Vers le Haut de la page</a>
  <p>Créée par <a href="https://github.com/ophelie-gaudin" target="_blank">Ophélie Gaudin</a>, <a href="https://github.com/Tariok" target="_blank">Evan Mingot</a>, <a href="https://github.com/Mariem2708" target="_blank">Mariem Vilayhong</a>, <a href="https://github.com/MidNightRoad" target="_blank">Pierre Berger</a>, <a href="https://github.com/istarengwa" target="_blank">Lilian Muller</a>, .</p>
  <p>code créé pour <a href="https://www.thehackingproject.org/?locale=fr" target="_blank">THP</a> projet.</p>
  <p>Design fait à partir de  <a href="https://getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap</a><a href="https://fontawesome.com/" rel="nofollow" target="_blank">Font Awesome</a><a href="https://fonts.google.com/" rel="nofollow" target="_blank">Google</a>.</p>

  </div>
</div>